# compiled output
/dist*
/src/coverage*
/tmp
/out-tsc

# dependencies
/node_modules*

# misc folders
/cypress/scree*
/cypress/vide*
/connect.lock
/coverage
/typings
/ssl
/.sass-cache
/.scanner*

# ides and editors
.project
.classpath
.vscode
.idea
.c9
.settings
*.launch
*.sublime-workspace
*.code-workspace

# logs
*.log

# system
.DS_Store
Thumbs.db
